<%= render "users/partials/users_header" %>

  <div class="col-lg-7 text-center text-lg-start">
    <h1 class="display-7 fw-bold lh-1 mb-3">Forgot your password?</h1>
  </div>

  <div class="col-md-10 mx-auto col-lg-5 p-3">
  <div class="p-5 p-md-5 border rounded-4 bg-light">
    <%= render "users/form/forget" %>
    <%= render "users/shared/links" %>
  </div>
  </div>

<%= render "users/partials/users_footer" %>