<!-- inside app/views/index.html.erb -->  

<main>
  <div class="container py-4">

    <%= render "partials/header" %>
    <%= render "partials/wellcome" %>
    <%= render "partials/footer" %>

  </div>
</main>