<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
            <th scope="col">Dimension</th>
            <th scope="col" class="text-success">Score 80 (Normal)</th>
            <th scope="col">80 ~ 60</th>
            <th scope="col" class="text-info">Score 60 (Slight)</th>
            <th scope="col">60 ~ 40</th>
            <th scope="col" class="text-warning">Score 40 (Mild)</th>
            <th scope="col">40 ~ 20</th>
            <th scope="col" class="text-danger">Score 20 (Moderate or Severe)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>Predicted-UPDRS</td> 
            <td>0</td> 
            <td>0 ~ 1</td> 
            <td>1</td> 
            <td>1 ~ 2</td> 
            <td>2</td> 
            <td>2 ~ 3</td> 
            <td>3 or more severe</td>
            </tr>
            <tr>
            <td>Frequency (Hz)</td> 
            <td>3.21 or more</td> 
            <td>3.21 ~ 2.71</td> 
            <td>2.71</td>
            <td>2.71 ~ 2.20</td>
            <td>2.20</td>
            <td>2.20 ~ 1.70</td>
            <td>1.70 or less</td>
            </tr>
            <tr>
            <td>Frequency-Intensity (A.U./s)</td>
            <td>0.267 or more</td>
            <td>0.267 ~ 0.197</td>
            <td>0.197</td>
            <td>0.126 ~ 0.197</td>
            <td>0.126</td>
            <td>0.126 ~ 0.0561</td>
            <td>0.0561 or less</td>
            </tr>
            <tr>
            <td>Intensity (A.U.)</td>
            <td>0.0820 or more</td>
            <td>0.0820 ~ 0.0650</td>
            <td>0.0650</td>
            <td>0.0650 ~ 0.0479</td>
            <td>0.0479</td>
            <td>0.0479 ~ 0.0308</td>
            <td>0.0308 or less</td>
            </tr>
            <tr>
            <td>Peak (tip-distance/thumb-length)</td>
            <td>0.531 or more</td>
            <td>0.531 ~ 0.476</td>
            <td>0.476</td>
            <td>0.476 ~ 0.421</td>
            <td>0.421</td>
            <td>0.421 ~ 0.366</td>
            <td>0.366 or less</td>
            </tr>
        </tbody>
    </table>
</div>