<%= render "users/partials/users_header" %>

  <div class="col-lg-7 text-center text-lg-start">
    <h1 class="display-7 fw-bold lh-1 mb-3">Resend confirmation instructions</h1>
  </div>

  <div class="p-5 p-md-5 border rounded-4 bg-light">
    <%= render "users/form/confirm" %>
    <%= render "users/shared/links" %>
  </div>

<%= render "users/partials/users_footer" %>