<%= form_for(@upload) do |form| %>
    <div>
        <%= form.label :avatar %>
        <%= form.file_field :avatar, id: :upload_avatar %>
        <!-- #-->
    </div>

    <%= form.submit "Upload", params[:hand_pos] => @hand_pos %>
    

<% end %>