
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    
    <div class="col-md-6 d-flex align-items-center">
      <img style="height: 30px; margin-bottom: 5px; display: inline" src=<%=image_path("cmdmlogo.png")%>>
      <span class="mb-3 mb-md-0 px-2 text-muted">&copy; 2022, Computational Molecular Design and Metabolomics Laboratory </span>
    </div>

  </footer>
</div>