
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid pt-4">
    <h1 class="display-5 fw-bold">Fast Evaluation for Parkinsonism</h1>
    <img class="rounded float-end" style="width: 375px; max-width: 90%" src=<%=image_path("Parkinson-rafiki.png")%>>
    <p class="col-md-8 fs-4">
      Parkinsonism is a medical condition characterized by tremors, slow movement (bradykinesia), stiffness, and difficulty with balance. 
      Our tool offers a video-based solution for  users self-assess the likelihood of Parkinsonism. <br>
      <br>
      Our 3 main features: <br>
      (1) Provides a predicted-UPDRS score and numerial measurements. <br>
      (2) Compares the symptoms between the left and right sides. <br>
      (3) Monitors changes over time. <br>
      <b> Please note that this tool is intended as a self-monitoring tool, not as a replacement for a professional clinical evaluation. </b> <br>
      <br>
      <%= link_to("Start Now", dashboard_index_path, class: "btn btn-primary btn-lg", data: {turbo: "false"}) %>
    </p>
  </div>
</div>

<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 text-bg-dark rounded-3">
      <h2>Demo</h2>
      <p class="fs-5">
        We aim to help patients to monitor their health status and assist doctors in giving more objective evaluation to achieve the goals of personalized medicine. 
        Here is a demo case.
      <br>
      </p>
      <%= link_to("Example", demo_path, class: "btn btn-outline-light", data: {turbo: "false"}) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>Documents</h2>
      <p class="fs-5">You can find the documents here. Please follow the steps.</p>
      <%= link_to("More", documents_path, class: "btn btn-outline-secondary") %>
    </div>
  </div>
</div>

