
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Fast Evaluation for Parkinson</h1>
    <img class="rounded float-end" style="width: 250px; max-width: 90%" src=<%=image_path("Parkinson-rafiki.png")%>>
    <p class="col-md-8 fs-4">
      Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. 
      Check out the examples below for how you can remix and restyle it to your liking.
    </p>
      <%= link_to("Start Now", dashboard_index_path, class: "btn btn-primary btn-lg", data: {turbo: "false"}) %>
  </div>
</div>

<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 text-bg-dark rounded-3">
      <h2>Demo</h2>
      <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
      <%= link_to("Example", demo_path, class: "btn btn-outline-light") %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>Documents</h2>
      <p>You can find the documents here. Please follow the steps.</p>
      <%= link_to("More", documents_path, class: "btn btn-outline-secondary") %>
    </div>
  </div>
</div>

