
<nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block bg-light sidebar">
  <a class="d-flex align-items-center pb-3 mt-4 link-dark text-decoration-none border-bottom">
      <span class="fs-3 fw-semibold ps-2"> Feature type </span>
  </a>
  
  <div class="position-sticky pt-3 sidebar-sticky mb-2">
    <ul class="list-unstyled ps-0 nav flex-column">
      
      <li class="mb-1">
        <button class="btn-toggle d-inline-flex align-items-center rounded border-0 collapsed fs-4 mb-1" data-bs-toggle="collapse" data-bs-target="#hand_ft-collapse" aria-expanded="false" aria-controls="hand_ft-collapse">
          Finger tapping
        </button>
        <div class="collapse" id="hand_ft-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal mb-3 small">
              <li>
                <%= link_to "Overview", dashboard_index_path(:hand_pos => '1'), class: "px-2 fs-5 link-dark d-inline-flex text-decoration-none rounded my-1", data: {turbo: false} %>
              </li>
              <li>
                <%= link_to "Uploads", new_upload_path(current_user.id, :hand_pos => '1'), class: "px-2 fs-5 link-dark d-inline-flex text-decoration-none rounded my-1", data: {turbo: false} %>
              </li>
              <li>
                <%= link_to "Archive", dashboard_archive_path(:hand_pos => '1'), class: "px-2 fs-5 link-dark d-inline-flex text-decoration-none rounded my-1", data: {turbo: false} %>
              </li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn-toggle d-inline-flex align-items-center rounded border-0 collapsed fs-4 mb-1" data-bs-toggle="collapse" data-bs-target="#hand_oc-collapse" aria-expanded="false"  aria-controls="hand_oc-collapse">
          Open/close hand (dev)
        </button>
        <div class="collapse" id="hand_oc-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <% link_to "Overview", dashboard_index_path(:hand_pos => '2'), class: "px-2 fs-5 link-dark d-inline-flex text-decoration-none rounded my-1", data: {turbo: false} %>
              </li>
              <li>
                <% link_to "Uploads", new_upload_path(current_user.id, :hand_pos => '2'), class: "px-2 fs-5 link-dark d-inline-flex text-decoration-none rounded my-1", data: {turbo: false} %>
              </li>
              <li>
                <% link_to "Archive", dashboard_index_path(:hand_pos => '2'), class: "px-2 fs-5 link-dark d-inline-flex text-decoration-none rounded my-1", data: {turbo: false} %>
              </li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn-toggle d-inline-flex align-items-center rounded border-0 collapsed fs-4 mb-1" data-bs-toggle="collapse" data-bs-target="#hand_ps-collapse" aria-expanded="false" aria-controls="hand_ps-collapse">
          Pro/supination (dev)
        </button>
        <div class="collapse" id="hand_ps-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <% link_to "Overview", dashboard_index_path(:hand_pos => '3'), class: "px-2 fs-5 link-dark d-inline-flex text-decoration-none rounded my-1", data: {turbo: false} %>
              </li>
              <li>
                <% link_to "Uploads", new_upload_path(current_user.id, :hand_pos => '3'), class: "px-2 fs-5 link-dark d-inline-flex text-decoration-none rounded my-1", data: {turbo: false} %>
              </li>
              <li>
                <% link_to "Archive", dashboard_index_path(:hand_pos => '3'), class: "px-2 fs-5 link-dark d-inline-flex text-decoration-none rounded my-1", data: {turbo: false} %>
              </li>
          </ul>
        </div>
      </li>  
    </ul>
  </div>

</nav>